<section class="section about">
	<div class="container">
		<div class="about__inner">
			<h2 class="title title--center">We are Createx Construction Bureau</h2>
			<p class="subtitle subtitle--center">
				We are rightfully considered to be the best construction company in the
				USA.
			</p>
			<div class="about__video-block">
				<div class="about__video-mask"></div>
				<video
					class="about__video-content"
					src="../videos/about.mp4"
					muted
					autoplay
					loop
				></video>
				<button class="btn-reset about__video-play">
					<img
						src="../img/svg/play.svg"
						aria-label="play video"
						alt="play video"
					/>
				</button>
				<button class="btn-reset about__video-mute" aria-label="mute video">
					<img src="../img/svg/mute.svg" alt="mute video" />
				</button>
			</div>
		</div>
	</div>
</section>
