<header class="header">
	<div class="container">
		<div class="header__inner">
			<a href="#" class="header__mobile-logo">
				<img src="./../img/logo-mobile.png" alt="Логотип" />
			</a>
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a href="#" class="nav__link">Качество</a>
					</li>
				</ul>
			</nav>
			<button class="header__burger btn-reset">
				<span class="line line1"></span>
				<span class="line line2"></span>
				<span class="line line3"></span>
			</button>
		</div>
	</div>
</header>
