<header class="header header--main">
	<div class="container">
		<div class="header__inner">
			<a href="#" class="header__logo">
				<img src="./../img/logo.svg" alt="Логотип компании Createx" />
			</a>
			<nav class="header__nav">
				<ul class="header__list">
					<li class="header__item">
						<a href="#" class="header__link">About Us</a>
					</li>
					<li class="header__item">
						<a href="#" class="header__link">Services</a>
					</li>
					<li class="header__item">
						<a href="#" class="header__link">Work</a>
					</li>
					<li class="header__item">
						<a href="#" class="header__link">News</a>
					</li>
					<li class="header__item">
						<a href="#" class="header__link">Contacts</a>
					</li>
				</ul>
			</nav>
			<div class="header__contacts">
				<a href="tel:4055550128" class="header__contacts-link">
					<div class="header__contacts-icon">
						<img src="../img/svg/tel.svg" alt="" />
					</div>
					<div class="header__contacts-info">
						<span class="header__contacts-title">Call us</span>
						<span class="header__contacts-text">(405) 555-0128</span>
					</div>
				</a>
				<a href="mailto:hello@createx.com" class="header__contacts-link">
					<div class="header__contacts-icon">
						<img src="../img/svg/chat.svg" alt="" />
					</div>
					<div class="header__contacts-info">
						<span class="header__contacts-title">Talk to us</span>
						<span class="header__contacts-text">hello@createx.com</span>
					</div>
				</a>
			</div>

			<button class="header__burger btn-reset">
				<span class="line line1"></span>
				<span class="line line2"></span>
				<span class="line line3"></span>
			</button>
		</div>
	</div>
</header>
