// @include font-face('Roboto Flex', '../fonts/RobotoFlex-Regular', 200, normal);

@font-face {
	font-family: 'MullerRegular';
	font-style: normal;
	font-weight: 400;
	src:
		local('MullerRegular'),
		url('../fonts/MullerRegular.woff') format('woff');
}
