html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
.page {
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	color: var(--gray-default);
	height: 100%;
	font-family: var(--font-default);
	-webkit-text-size-adjust: 100%;
}

.page__body {
	margin: 0;
	min-width: 320px;
	min-height: 100%;
}

img {
	height: auto;
	max-width: 100%;
	object-fit: cover;
	display: block;
}

a {
	text-decoration: none;
	display: inline-block;
}

.site-container {
	overflow: hidden;
}

.is-hidden {
	display: none !important;
}

.btn-reset {
	border: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

.input-reset {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	background-color: #fff;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}

.container {
	margin: 0 auto;
	padding: 0 var(--container-offset);
	max-width: var(--container-width);
}

.main-container {
	max-width: 580px;
	margin-bottom: 24px;
}

.main-title {
	font-size: 72px;
	font-weight: 700;
	line-height: 130%;
	letter-spacing: 1px;
	margin-bottom: 25px;
}

.main-descr {
	font-size: 20px;
	font-weight: 400;
	line-height: 150%;
}

.btn {
	color: var(--light);
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 50px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	padding: 0 38px;
	border-radius: 4px;
	border: 1px solid var(--accent);
	background-color: var(--accent);
	transition: all var(--transition);

	&--middle {
		line-height: 41px;
		padding: 0px 32px;
		font-size: 14px;
	}
	&:hover {
		background-color: #fc3300;
	}

	&--disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&--outline-light {
		border: 1px solid var(--light);
		background-color: transparent;
		color: var(--light);

		&:hover {
			border: 1px solid var(--accent);
			background-color: var(--accent);
			color: var(--light);
		}
	}

	&--outline-accent {
		border: 1px solid var(--accent);
		background-color: transparent;
		color: var(--accent);

		&:hover {
			border: 1px solid var(--accent);
			background-color: var(--accent);
			color: var(--light);
		}
	}
}

.title {
	color: var(--gray-dark);
	font-size: 46px;
	font-weight: 700;
	line-height: 130%;
	margin-bottom: 24px;

	&--center {
		text-align: center;
	}
}

.subtitle {
	color: var(--gray-light);
	font-size: 18px;
	margin-bottom: 60px;

	&--center {
		text-align: center;
	}
}

.small-title {
	font-size: 28px;
	color: var(--gray-dark);

	&--offset {
		margin-right: 40px;
	}
}
.section {
	padding: 60px 0;
}
